@import "../globals/colors";

.background__image {
  background-image: url(../assets/images/light-background.png);
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 33%;
  overflow: hidden;
  z-index: 1 !important;
  transition: filter 0.8s ease;
}

.background__noise {
  background-image: url(../assets/images/402107790_STATIC_NOISE_400.gif);
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 8%;
  overflow: hidden;
  z-index: 1 !important;
}
