@use "../utils" as u;
@import "../globals/colors";

.header {
  padding: u.rem(30) 0;

  z-index: 10;

  &--fixed {
    position: fixed;
    width: 100%;
  }

  // margin-bottom: u.rem(72);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: clamp(u.rem(32), 10vw, u.rem(64));
    max-width: u.rem(895);
    border: none;
    box-shadow: 0 0 0px #000000;
    padding: 0 u.rem(24);
    margin: 0 clamp(u.rem(-20), -10vw, u.rem(-91));
    background-image: none;
    z-index: 10;
    transition: all 0.3s ease-in-out;

    &--fixed {
      border: 1px solid #a7a7a7;
      box-shadow: 0 0 3px #a7a7a7;
      border-radius: 9px;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-radius: 9px;
      height: 100%;
      background-image: url(../assets/images/light-background.png);
    }
  }

  &__list {
    max-width: clamp(u.rem(192), 40vw, u.rem(320));
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__overlay {
    width: 100%;
    position: fixed;
    top: -20%;
    height: 200px;
    z-index: 9;
  }
}

.list__item {
  display: inline-block;
}

.theme-btn {
  width: clamp(u.rem(20), 6vw, u.rem(27));
  height: clamp(u.rem(12), 3vw, u.rem(14));
  border: 2px solid var(--clr-font);
  border-radius: 32px;
  background-color: var(--clr-primary);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;

  &__circle {
    position: absolute;
    width: clamp(u.rem(6), 2vw, u.rem(9));
    height: clamp(u.rem(6), 2vw, u.rem(9));
    border-radius: 50%;
    background-color: var(--clr-font);
    top: 50%;
    right: 1px;
    transform: translate(0%, -50%);
    // border: 0.5px solid var(--clr-primary);
    transition: all 0.5s ease;
  }
}

.shift-left {
  // transform: translate(-100%, -50%);
  right: 53%;
}

.shift-right {
  transform: translate(0%, -50%);
}
