@use "../utils" as u;
@import "../globals/colors";

.works {
  &__header {
    h1 {
      margin-bottom: u.rem(28);
    }

    margin-bottom: u.rem(50);
  }

  &__items {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-bottom: u.rem(50);
  }
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // transition: all 0.3s ease-in-out;

  &__button {
    border: none;
    background-color: transparent;
    vertical-align: baseline;
    font-size: clamp(u.rem(32), 10vw, u.rem(82));
    font-weight: normal;
    font-family: Steinbeck;
    line-height: clamp(u.rem(32), 10vw, u.rem(82));
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 2px;
  }
}

.work__description {
  text-align: right;
  font-size: u.rem(15);
  line-height: u.rem(20);
  height: fit-content;
  transition: all 0.3s ease-in-out;
  margin: u.rem(15) 0;
  margin-left: auto;
}

.work__info {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: clamp(u.rem(70), 24vw, u.rem(100));
  // display: none;
  p {
    font-size: clamp(u.rem(11), 3vw, u.rem(14));
  }
}

.button-container {
  display: flex;
  align-items: center;
  height: clamp(u.rem(40), 10vw, u.rem(84));
  // color: #808080;
}

.technologies-container {
  display: flex;
  max-width: u.rem(100);
  justify-content: space-between;
  margin-top: u.rem(20);
  margin-left: auto;
  p {
    display: inline-block;
    border: 1px solid var(--clr-font);
    padding-bottom: 7px;
    padding-inline: 10px;
    font-size: 12px;
  }
}

.work__button-container {
  display: flex;
  justify-content: flex-end;
  gap: u.rem(10);
}

.links-button {
  font-family: Steinbeck;
  font-size: u.rem(15);
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-font);
  padding: clamp(u.rem(1), 0.5vw, u.rem(5)) clamp(u.rem(10), 5vw, u.rem(40));
  padding-bottom: u.rem(8);

  a {
    color: var(--clr-font);
    padding: 0;
    text-decoration: none;
  }
}

.work__svg {
  width: clamp(u.rem(24), 7vw, u.rem(58));
  height: clamp(u.rem(24), 7vw, u.rem(58));
}
