@use "../utils" as u;
@import "../globals/colors";

.works {
  &__header {
    h1 {
      margin-bottom: clamp(u.rem(14), 4vw, u.rem(28));
    }

    margin-bottom: clamp(u.rem(25), 5vw, u.rem(50));
  }

  &__items {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-bottom: clamp(u.rem(25), 5vw, u.rem(50));
  }
}

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__button {
    border: none;
    background-color: transparent;
    font-size: clamp(u.rem(32), 10vw, u.rem(82));
    font-family: Steinbeck;
    line-height: clamp(u.rem(32), 10vw, u.rem(82));
    cursor: pointer;
    overflow: hidden;
  }
}

.work__description {
  text-align: right;
  font-size: u.rem(15);
  line-height: u.rem(20);
  height: fit-content;
  transition: all 0.3s ease-in-out;
  margin: u.rem(15) 0;
  margin-left: auto;
  max-width: 62vw;
}

.work__info {
  position: absolute;
  right: 0;
  bottom: clamp(u.rem(2), 1.5vw, u.rem(12));
  max-width: clamp(u.rem(70), 24vw, u.rem(100));

  p {
    font-size: clamp(u.rem(11), 3vw, u.rem(14));
  }
}

.button-container {
  display: flex;
  align-items: center;
  height: clamp(u.rem(40), 10vw, u.rem(84));
}

.technologies-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: clamp(u.rem(6), 2vw, u.rem(20));
  margin-left: auto;
  p {
    display: inline-block;
    border: 1px solid var(--clr-font);
    padding: u.rem(4) u.rem(10);
    font-size: u.rem(12);
  }
}

.work__button-container {
  display: flex;
  justify-content: flex-end;
  gap: u.rem(10);
}

.links-button {
  font-family: Steinbeck;
  font-size: u.rem(15);
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-font);
  padding: clamp(u.rem(1), 0.5vw, u.rem(5)) clamp(u.rem(10), 5vw, u.rem(40));

  a {
    color: var(--clr-font);
    padding: 0;
    text-decoration: none;
  }
}

.work__svg {
  width: clamp(u.rem(24), 7vw, u.rem(58));
  height: clamp(u.rem(24), 7vw, u.rem(58));
}
